* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
}

body {
    background-color: black;
}

#search_bar {
    width: 90%;
    margin: 50px auto;

    height: 50px;
    max-width: 500px;
    background-color: gray;
    display: grid;
    grid-template-columns: 50px 1fr;
    border-radius: 8px;
    overflow: hidden;
}

#search_btn {
    height: 100%;
    aspect-ratio: 1;
    border: 0;
    border-radius: 0;
}

#search_text {
    font-size: 1rem;
    padding: 0 20px;
}

#search_text:focus {
    border: none;
    outline: none;
}

.movie_s {
    background-color: rgb(34, 34, 34);
    border-radius: 20px;
    outline: 3px solid blue;
    box-shadow: 0 0 40px blue;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    color: white;
    margin-top: 50px;

    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 300px;
}

.fig {
    height: 100%;
    aspect-ratio: 2 / 3;

}

.fig img {
    height: 100%;
    max-width: 200px;
}

.info {
    width: 100%;
    padding: 30px;
}

.info p {
    margin-top: 20px;

}